<h2>Latest Posts: </h2>
<br />
<% @post_list.each do |post| %>
	<p>
		<!-- post - это хеш, мы обращаемся к хешу, с помощью строки ''-->
		<h4><%= post['content'] %></h4>
		<br />
		Added at: <%= post['created_date'] %>
		<!-- добавляем ссылку вида на наши посты /details/1 и т.д. -->
		<a href="/details/<%= post['id'] %>">Comments</a>
	</p>
	<hr />
<% end %>	